html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}

.App {
    background: url("./assets/moana-collection-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}

.with-blur-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    height: 100%;
    width: 100%;
}

.shimmer {
    color: rgb(189, 189, 189);
    display: inline-block;
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
    animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
    100% {
        mask-position: left
    }
}